<div class="container">
  <header class="header">
    <a href="#">
      <img class="logo" alt="immmo logo" src="assets/immo-logo.svg" />
    </a>
    <div>
      <h1>Property Search Tool</h1>
    </div>
  </header>
  <button (click)="testting()">search</button>
  <div class="searchReasult">
    <h2>Search Result</h2>
    <table class="search table">
      <thead>
        <tr>
          <th>#</th>
          <th>Address</th>
          <th>Postcode</th>
          <th>property type</th>
          <th>Number of rooms</th>
          <th>Floor area(m2)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let news of searchProperties$ | async">
          <th>
            <input class="form-check-input" type="checkbox" />
          </th>
          <td>test2</td>
          <td>test3</td>
          <td>test4</td>
          <td>test5</td>
          <td>test6</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
